/* Definición de variables CSS personalizadas */
:root {
    --background-main: #34526c; /* Color de fondo principal */
    --color: #e3f2ff; /* Color de texto principal */
    --secondary-color: #3c5a75; /* Color de texto secundario */
    --white: #fff;
    --shadow: #172c3d
}
/*Estilos Globales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*Estilos para el contenedor principal del HTML*/
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center; 
    height: 100vh;
    width: 100vw;
    background-color: var(--background-main);
    color: var(--color);
    gap: 20px;
}

/*Define las tres section, su size en width and height*/
main > .section{
    text-align: center;
    margin: 0 auto;
    padding: 30px;
    width: 500px;
    height: 600px;
    background-color: var(--secondary-color);
    box-shadow: 5px 10px 10px 10px var(--shadow);
    border-radius: 15px;
}
/*Definimos el contenedor de la imagen*/
.subsection-img{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 50%;
}
/*Tamanio de la imagen*/
.section img{ 
    width: 150px;
}

/*Define el display, tamaño y tipo de posición que tiene la subsection*/
.subsection{
    display: flex;
    flex-direction: column;
    height: 50%;
    gap: 5px;
}

/*Contenedor input*/
.subsection-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*Input element*/
.subsection-input input{
    width: 50%;
    height: 30px;
    font-size: 16px;
    border-radius: 15px;
    padding: 10px;
    border: none;
    text-align: center;
}

.subsection-input input:focus{
    outline: none;
}

/*Contenedor button*/
.subsection-button{
    margin: 10px;
    padding: 10px;
    width: 100%;
}
.subsection-button > button{
    width: 200px;
    height: 25px;
    margin: 2px;
    border-radius: 15px;
    border: none;
}

.subsection-button > button:hover{
    background-color: var(--background-main);
    border: 1px solid var(--shadow);
    color: var(--color);
    cursor: pointer;

}

.subsection--2{
    padding-top: 10px;
}




