/* Definición de variables CSS personalizadas */
:root {
    --background-main: #34526c; /* Color de fondo principal */
    --color: #e3f2ff; /* Color de texto principal */
    --secondary-color: #3c5a75; /* Color de texto secundario */
    --white: #fff;
    --shadow: #172c3d;
}

/* Reset de estilos y definición de fuente global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; /* Establece la fuente global como Roboto */
}

body{
    background-color: var(--background-main); /* Utiliza el color de fondo principal definido en las variables */
}
/* Estilos para el encabezado principal */
main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Establece la altura del contenedor principal al 100% del viewport */
    gap: 20px; /* Espacio entre elementos secundarios dentro de .main */
    padding: 10px; /* Relleno alrededor de .main */
}

/*Seccion de volver a inicio*/
aside{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--background-main);
    color: var(--color);
    padding: 20px;
}
aside > p > a{
    width: 100%;
    height: 100%;
    font-size: 18px;
    text-decoration: none;
    color: var(--color);
}

aside > p > a:hover{
    color: #a9bccc;
}

/*Section*/

.section-1{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 80%;
    gap: 25px;
}

.subsection{
    text-align: center;
    margin: 10px;
    width: 500px;
    height: 200px;
    padding: 10px 0px;
    border-radius: 15px;
    box-shadow: 5px 10px 10px 10px var(--shadow); /* Sombra */
}

/*Formulario e inputs*/
.form-input{
    width: 100%;
    height: 33%;
}
.form-input label{
    display: inline-block;
    width: 100%;
    font-size: 18px;
    color: var(--color);
    margin: 3px;
}

.form-input input{
    width: 35%;
    height: 30px;
    font-size: 16px;
    border-radius: 15px;
    padding: 10px;
    border: none;
    text-align: center;
}

.form-input input:focus{
    outline: none;
}

/*Botones de porcentajes*/

.coupons{
    display: flex;
    width: 100%;
    height: 33%;
    justify-content: center;
    align-items: center;
}

.coupons .button-coupon{
    width: 20%;
    margin: 2px;
    border-radius: 15px;
    border: none;

}

.coupons .button-coupon:hover{
    background-color: var(--background-main);
    border: 0.5px solid var(--shadow);
    color: var(--color);
    cursor: pointer;
}

/*Resultados*/

.resultados{
    width: 100%;
    height: 33%;
}

.resultados p{
    font-size: 18px;
    color: var(--color);
}

/*Titulo y descripción de la página*/

.title-h1, .text{
    color: var(--color);
}
