/*Variables*/
:root{
    --background-main: #34526c;
    --color: #e3f2ff;
}
/* Reset de estilos y fuente global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Estilos para el cuerpo principal */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Estilos para el encabezado principal */
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-main);
    gap: 30px;
    padding: 10px;
}

/* Estilos para los contenedores superiores e inferiores */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* border: 2px solid #fffcfc; */
    border-radius: 20px;
}

.container{
    width: 500px;
    height: 50vh;    
}

.container-1{
    border: #3c5a75 2px solid;
    background-color: var(--background-main);
    box-shadow: 5px 10px 10px 10px #172c3d;
    padding: 20px;

    color: var(--color);
}

.container-1 input{
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}
.container-1 button{
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    background-color: var(--color);
    color: #3c5a75;
    font-weight: 500;
}

.container-1 button:hover{
    background-color: #3c5a75;
    color: var(--color);
    cursor: pointer;
    border: var(--color) 1px solid;
}

.container-2{
    border: #3c5a75 2px solid;
    background-color: var(--color);
    color: var(--background-main);
    box-shadow: 5px 10px 10px 10px #172c3d;
    padding: 20px;
    font-weight: 500;
    font-size: 20px;
}
/* Media Queries */
@media (max-width: 700px) {
    .main {
        flex-direction: column;
    }
    .container {
        width: 100%;
        height: 100%;
    }
}
