/* Definición de variables CSS personalizadas */
:root {
    --background-main: #34526c; /* Color de fondo principal */
    --color: #e3f2ff; /* Color de texto principal */
    --secondary-color: #3c5a75; /* Color de texto secundario */
    --white: #fff;
}

/* Reset de estilos y definición de fuente global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; /* Establece la fuente global como Roboto */
}

/* Estilos para el encabezado principal */
.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Establece la altura del contenedor principal al 100% del viewport */
    background-color: var(--background-main); /* Utiliza el color de fondo principal definido en las variables */
    gap: 60px; /* Espacio entre elementos secundarios dentro de .main */
    padding: 10px; /* Relleno alrededor de .main */
}
/*
    main > div.container.container-1/2 > section.section.section-project > div
*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
    flex-direction: column;
}
.container-2 p{
    text-align: center;
    font-size: 32px;
    color: var(--white);
    margin: 10px 10px 30px;
    padding: 10px 10px;
    border-radius: 15px;
    box-shadow: 5px 10px 10px 10px #172c3d; /* Sombra */
}
.container-2 > .inside-container{
    display: flex;
    width: 75%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
/*Section se encuentra dentro de container*/
.project-p{ 
    font-size: 32px;
    color: var(--white);
    margin: 10px 10px 30px;
    padding: 10px 10px;
    border-radius: 15px;

    transition: all 0.1s ease-in-out;
    box-shadow: 5px 10px 10px 10px #172c3d; /* Sombra */
}
.section{
    background-color: var(--white);
    margin: 10px;
    padding: 10px 0px;
    border-radius: 15px;
    transition: all 0.1s ease-in-out;
    box-shadow: 5px 10px 10px 10px #172c3d; /* Sombra */
}

.section-project{
    width: 500px;
    height: 300px;
    text-align: center;
}

.section-project > div{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 98%;
    background-image: url(./img/proyecto_curso.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.1s ease-in-out;
}

.menu-link{
    width: 100%;
    height: 100%;
    color: transparent;
}

.section-project:hover{
    height: 314px;
    width: 550px;
    cursor: pointer;
    filter: brightness(0.5);
}


/*Section 2*/
.section-2{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
}

.section-2 a{
    display: inherit;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--background-main);
    font-size: 18px;
}

.section-2 a:hover{
    color: var(--white);
}

.section-2:hover{
    background-color: var(--background-main);
    color: var(--white);
    cursor: pointer;
}

/*Dispositivos moviles*/

@media screen and (max-width: 768px){
    .container-2 p{
        width: 100%;
        font-size: 18px;
    }
    .section-project{
        width: 100%;
        height: 100%;
    }
    .section-project > div{
        width: 100%;
    }
    .section-project:hover, .section_project > div:hover{
        width: 100%;
        height: 77%;  
        cursor: pointer;
    }

    .project-p{
        font-size: 18px;
        text-align: center;
    }

    .inside-container{
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .menu-link{
        width: 100%;
        height:100%;
        text-align: center;
    }
    .section-project div .menu-link{
        color: var(--white);
        font-weight: 900;
        font-size: 20px;
    }
}